* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
}

.item-list {
  background-color: gray;
  margin-bottom: 50px;
}

.item {
  padding: 20px;
}

.box-list {
  padding-top: 50pz;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-right: 5%;
  margin-bottom: 40px;
}

.item:nth-child(2n) {
  background-color: white;
}

.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: tomato;
}

.box:nth-child(3n) {
  margin: 0;
}

.box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
